* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  background: #280A4B;
}
@font-face {
  font-family:Wonderbar;
  src: url(assets/fonts/Wonderbar\ Demo.otf);
}
@font-face {
  font-family: Akbar;
  src: url(assets/fonts/akbar.ttf);
}
@font-face {
  font-family: space-kids;
  src: url(assets/fonts/Space\ kids.otf);
}
.space-kids{
  font-family: space-kids;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  cursor: default;
  font-weight: 400;
  font-family: 'Balsamiq Sans', cursive;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  color: #FFF;
  font-family: Piglet;
  font-size: 7.35vw;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; /* 90.678% */
  letter-spacing: -2.1px;
  text-transform: capitalize;
}

h2 {
  transition: all .8s;
  color: #FFF;
  text-align: center;
  font-family: Piglet;
  font-size: 3.93vw;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 149.206% */
  text-transform: capitalize;
}

h3 {
  color: #FFF;
  font-family: CHIBOLD demo;
  font-size: 1.6vw;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}

li {
  list-style: none;
  font-size: 1vw;
  line-height: 1.3vw;
  color: #FFFFFF;
}

p {
  font-family: Delius;
  color: #FFF;
  font-size: 1.2vw;
  font-weight: 400;
  line-height: 1.5vw;
}
img{
  width: 100%;
}


.btn {
  color: #FFF;
  text-align: center;
  text-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.15);
  font-family: piglet;
  font-size: 1.2vw;
  padding: 1vw 3vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: all .5s;
  border-radius: 32px;
  border: 3px solid #FFF;
  background: rgb(248,176,0);
  background: linear-gradient(211deg, rgba(248,176,0,1) 57%, rgba(255,199,62,1) 57%);
  box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.15);
  transition: all .3s;
}

.btn:hover {
  background: linear-gradient(-211deg, rgba(248,176,0,1) 57%, rgba(255,199,62,1) 57%);
  box-shadow: 0px 4px 16px 0px rgba(255, 255, 255, 0.15);
  transform: translateY(-.5vw);
}

.btn1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
  color: #F8B000;
  text-align: center;
  font-family: piglet;
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal; /* 300% */
  transition: all 1s;
}

.btn1 img {
  width: 1vw;
}

.btn1:hover {
  color: #ffffff;
}

.navbar-toggle {
  display: none;
  cursor: pointer;
}

.navbar-toggle span {
  display: block;
  width: 7vw;
  height: .5vw;
  margin: 0.7vw;
  background: linear-gradient(211deg, #fff 0%, #f3cdcd 87%);
  border-radius: 50px;
  transition: all 0.5s;
}

.navbar-toggle span:nth-child(2) {
  width: 5vw;
}

/* -------------------------------------------Navbar Management------------------
-------------------- */

.header {
  padding: 1vw 3vw 1vw 3vw;
  position: relative;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.header .navbar {
  border-radius: 2vw;
  padding: 0.5vw 1vw 0.5vw 1vw;
  width: 100%;
  height: auto;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  transition: all .5s;
}

.header .navbar .left-side-menu {
  width: 20%;
  text-align: left;
}


.header .navbar .left-side-menu a img {
  width: 60%;
  cursor: pointer;
  animation: bounceInDown 1s;
}

.center-menu {
  width: 72%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
}

.center-menu .left-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3vw;
  padding: 1vw 5vw;
  transition: all .3s;
  position: relative;
  z-index: 100 !important;
}

.center-menu .left-menu a li {
  color: #FFF;
  font-family: Impact;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: 90%; 
  transition: all .3s;
}

.center-menu .left-menu a li:hover {
  font-weight: 700;
  color: #fff;
  letter-spacing: 3px;
  text-shadow: 0px 2px 6px #00000036;
}

.header .center-menu a:nth-child(1) {
  animation: bounceInDown 1.2s;
}
.header .center-menu a:nth-child(2) {
  animation: bounceInDown 1.4s;
}
.header .center-menu a:nth-child(3) {
  animation: bounceInDown 1.6s;
}
.header .center-menu a:nth-child(4) {
  animation: bounceInDown 2s;
}
.header .center-menu a:nth-child(5) {
  animation: bounceInDown 2.2s;
}
.header .center-menu a:nth-child(6) {
  animation: bounceInDown 2.5s;
}

.header .center-menu .right-side-menu {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  gap: .5vw;
}

.header .center-menu .right-side-menu a img {
  width: 3vw;
  padding: .1vw;
  height: auto;
  transition: all 0.3s;
}
.header .center-menu .right-side-menu .presale img{
  width: 12vw;
}

.header .center-menu .right-side-menu a:nth-child(1) {
  animation: bounceInDown 2.5s;
}

.header .center-menu .right-side-menu a:nth-child(2) {
  animation: bounceInDown 2.8s;
}

.header .center-menu .right-side-menu a img:hover {
  transform: translateY(-.5vw);
  filter: brightness(150%);
}
.header .center-menu .right-side-menu a:nth-child(4) img{
  width: 8vw;
}
.header .center-menu .right-side-menu a:nth-child(4) img:hover {
 
      transform: translateY(-3px);
      filter: drop-shadow(10px 20px rgba(0, 0, 0, 0.2));
}
/* -----------------hero-section------------
---------- */
.hero-section {
  background: url(assets/images/hero-bg.png)no-repeat;
  background-position: 0% 50%;
  background-size: cover;
  text-align: center;
  margin-top: -215px;
  padding-top: 152px;
}
.hero-content{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10vw 10vw 20vw 10vw;
  position: relative;
}
.book {
  position: absolute;
  width: 15vw;
  left: 0;
  top: 12vw;
  display: none;
}
.hero-content .left{
  width: 49%;
  animation: fadeInUp .5s linear;
}
.hero-content .right{
  width: 51%;
  position: relative;
}
.hero-content .right img{
  position: absolute;
  z-index: 2;
  bottom: -29vw;
  left: 2vw;
  animation: fadeInUp .7s linear;
}
.img-1{
  position: relative;
  z-index: 2;
  margin-top: -20vw;
}
@keyframes brightness {
  0%{
      filter: brightness(100%);
  }
  30%{
      filter: brightness(130%);
  }
  50%{
      filter:  brightness(150%);
  }
  75%{
      filter: brightness(170%);
  }
  100%{
      filter: brightness(200%);
  }
}
.bulb{
  position: absolute;
  width: 22vw;
  right: 2vw;
  bottom: 0vw;
  mix-blend-mode: lighten;
  animation: brightness 4s linear infinite alternate;
}
.bulb-2{
  position: absolute;
  width: 22vw;
  left: 2vw;
  bottom: 1vw;
  mix-blend-mode: lighten;
  animation: brightness 4s linear infinite alternate;
}
.ball {
  position: absolute;
  width: 2vw;
  left: 32vw;
  top: 0vw;
  mix-blend-mode: lighten;
  animation: floatBubble 12s infinite linear alternate;
}
.pearl {
  position: absolute;
  width: 15vw;
  top: -3vw;
  left: 39vw;
  z-index: 1;
  mix-blend-mode: lighten;
  animation: pearl 10s linear infinite forwards;
}
@keyframes pearl {
  0%{
      top: -12vw;
      left:39vw ;
  }
  100%{
      top: 30vw;
      left: 100vw;
  }
  /* 50%{
      top: 15vw;
      left: 60vw;
  }
  75%{
      top:20vw ;
      left: 70vw;
  }
  100%{
      top: 30vw;
      left: 100vw;
  } */
}
@keyframes floatBubble {
  0% {
    left: 0;
    top: 0;
  }
  20% {
    left: 61vw;
    top: 14vw;
  }
  40% {
      left: 0vw;
      top: 0vw;
  }
  60%{
      top: -9vw;
      left: 40vw;
  }
  80%{
      top: 20vw;
      left: 100vw;
  }
  100%{
      top: 50vw;
      left:80vw ;
  }
}
.ball-2{
  position: absolute;
  width: 1vw;
  right: 10vw;
  bottom: 22vw;
  animation: floatBubble 10s infinite linear 2s alternate;
}
/* ----------------gems----------
-------- */
.gems{
  text-align: center;
  padding: 10vw 10vw;
  margin-top: -7vw;
  position: relative;
}
.bulb-5{
  position: absolute;
  left: 0;
  top: 15vw;
  width: 8vw;
  mix-blend-mode: lighten !important;
}
.gems .heading{
  width: 12vw;
  margin-bottom: 1.5vw;
}
.gradient-bg{
  background: linear-gradient(to right,#CE2FEA 50%, #6497FF 55%, #00FF9E 100%);
  padding: 10px;
  border-radius: 54px;
  display: flex;
  justify-content: space-between;
}
.gradient-bg .left{
  width: 64%;
  overflow: hidden;
  border-radius: 44px 0 0 44px;
}
.gradient-bg .right{
  width: 35%;
  overflow: hidden;
  background: #280A4B;
  border-radius: 0 44px 44px 0;
  padding: 1vw 2vw;
  display: flex;
  justify-content: space-between;
}
.gradient-bg .right div{
  width: 45%;
}
.gradient-bg .right div:nth-child(2){
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.gradient-bg .right div h4{
  color: #FFF;
  font-family: Impact;
  font-size: 2.25vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
  margin-bottom: .3vw;
}
.gradient-bg .right div h5:nth-child(2){
  font-size: 1.562vw;
  margin-bottom: 1vw;
}
.gradient-bg .right div h5{
  color: #FFF;
  font-family: Impact;
  font-size: 1.625vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}
.gradient-bg .right div h5:nth-child(6){
  margin-bottom: 1.5vw;
}
.gradient-bg .right div a img{
  width: 6vw;
  margin-bottom: 2vw;
  transition: all .3s;
}
.gradient-bg .right div a img:hover {
  filter: brightness(150%);
}
.gradient-bg .right div p{
  color: #A600D3;
  font-family: Impact;
  font-size: 1vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.gradient-bg .right div .br {
  width: 13vw;
}
/* -------------gem-2----------
----- */
.gems-2 {
  padding: 5vw 10vw 1vw 10vw;
  text-align: center;
  position: relative;
}
@property --progress-value {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

@keyframes progress {
 to { --progress-value: 0; }
}

.gradient-bg .right div .progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1vw;
  margin-bottom: 1vw;
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, #280A4B 79%, transparent 80% 100%),
    conic-gradient(#C82DF0 calc(var(--progress-value) * 1%), #373737 0);
  animation: progress 2s 1 forwards;
}

.gradient-bg .right div .progress-bar::before {
  counter-reset: percentage var(--progress-value);
  content: counter(percentage) '%';
  animation: progress 2s 1 forwards;
  color: #FFF;
  font-family: Impact;
  font-size: 1.6vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.cw{
  position: absolute;
  right: 10vw;
  top: 6vw;
}
.cw img{
  width: 12vw;
}
.glass{
  position: absolute;
  width: 7vw;
  right: 0;
  top: 5vw;
}
.paper {
  position: absolute;
  width: 7vw;
  left: 0;
  bottom: 20vw;
  mix-blend-mode: lighten;
}
.paper-2 {
  position: absolute;
  width: 5vw;
  right: 0;
  bottom: 2vw;
  mix-blend-mode: lighten;
}
.gems-2 .heading {
  width: 13vw;
  margin-bottom: 1.5vw;
}
.gems-2 .gradient-bg-2 .right{
  display: flex;
  flex-direction: column;
  padding: 0;
  background: transparent;
  overflow: hidden;
}
.gems-2 .gradient-bg-2 {
  margin-top: 1vw;
  padding: 0;
  position: relative;
}
.gems-2 .gradient-bg-2 .left{
  background: #280A4B;
  height: 45vw;
  overflow-y: auto;
  margin: 10px;
  display: flex;
  flex-direction: column;
  padding: 0 0vw 0 0vw;
}
.gems-2 .gradient-bg-2 .left::-webkit-scrollbar {
  display: none;
}
.gems-2 .gradient-bg-2 .left p a{
  color: #fff;
}
.gems-2 .gradient-bg-2 .left p{
  padding: 1vw 2vw;
}
.gems-2 .gradient-bg-2 .left h5{
  color: #FFF;
  font-family: Impact;
  font-size: 1.625vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}
.gems-2 .gradient-bg-2 .right div{
  width: 100%;
  padding: 2vw;
}
.gems-2 .gradient-bg-2 .right div .progress-bar {
  width: 10vw;
}
.gems-2 .gradient-bg-2 .right .top{
  margin: 10px 10px 0px 0;
  background: #280A4B;
  width: 97%;
  border-radius: 0 44px 44px 0;
}
.gems-2 .gradient-bg-2 .right .top .amount{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  gap: 1vw;
  margin-top: 2vw;
}
.gems-2 .gradient-bg-2 .right .top .amount h6{
  color: #00FF9E;
  font-family: Impact;
  font-size: 1.68vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.gems-2 .gradient-bg-2 .right .top .amount h6 span{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5vw;
  height: 5vw;
  border-radius: 23px;
  border: 4px solid #F000FF;
  background: #FFF;
  color: #E0F;
  font-family: Impact;
  font-size: 3.36vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 1vw;
  text-align: left;
}
.gems-2 .gradient-bg-2 .right .top .amount img{
  width: 32%;
  margin-left: 1vw;
}
.gems-2 .gradient-bg-2 .right .top .amount a img{
  width: 6vw;
  margin: 0;
}
.gems-2 .gradient-bg-2 .right .top .live{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 1vw;
}
.gems-2 .gradient-bg-2 .right .top .live div{
  display: flex;
  align-items: center;
  gap: 1vw;
  padding: 0;
  margin: 0;
}
.gems-2 .gradient-bg-2 .right .top .live div a img{
  width: 3vw;
  margin: 0;
}
.gems-2 .gradient-bg-2 .right .top .live img{
  width: 20%;
}
.gems-2 .gradient-bg-2 .right .bottom{
  margin: 10px 10px 10px 0;
  background: #280A4B;
  width: 97%;
  border-radius: 0 44px 44px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gems-2 .gradient-bg-2 .right .bottom h6{
  color: #00FF9D;
  font-family: Impact;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.gems-2 .gradient-bg-2 .right .bottom img{
  width: 60%;
}
.gems-2 .gradient-bg-2 .right div:nth-child(2){
  display: flex;
  align-items: center;
}
.gems-2 .gradient-bg-2 h5 span{
  float: right;
}
.gems-2 .gradient-bg-2 .right div p{
  font-size: .7vw;
  text-align: right;
}
/* ----------------drops---------
--------- */
.drops {
  padding: 5vw 10vw;
  text-align: center;
}
.drops .heading{
  width: 23vw;
}
.drops-wrap {
  margin-top: 4vw;
  display: flex;
  flex-wrap: wrap;
  gap: 1vw;
}
.drops-wrap div{
  width: 23%;
  border-radius: 24px;
  border: 7px solid #00FF9D;
  background: #1B0732;
  padding: 1.5vw;
  text-align: left;
  
}
.drops-wrap div:nth-child(1){
  animation: slideInLeft .5s linear;
}
.drops-wrap div:nth-child(2){
  animation: slideInDown .5s linear;
}
.drops-wrap div:nth-child(3){
  animation: slideInDown .5s linear;
}
.drops-wrap div:nth-child(4){
  animation: slideInRight .5s linear;
}
.drops-wrap div:nth-child(5){
  animation: slideInLeft .5s linear;
}
.drops-wrap div:nth-child(6){
  animation: slideInUp .5s linear;
}
.drops-wrap div:nth-child(7){
  animation: slideInUp .5s linear;
}
.drops-wrap div:nth-child(8){
  animation: slideInRight .5s linear;
}
.drops-wrap div h3{
  color: #00FF9D;
  font-family: Impact;
  font-size: 2.06vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.33px;
}
.drops-wrap div p{
  color: #00FFA4;
  font-family: Impact;
  font-size: 1.1vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.18px;
  margin-bottom: 2vw;
}
.drops-wrap div h6{
  color: #FFF;
  font-family: Impact;
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.21px;
}
/* --------------roadmap--------
------- */
.roadmap{
  text-align: center;
  position:relative;
}
.roadmap .heading {
  width: 14vw;
  margin-bottom: 1vw;
  margin-top: 5vw;
}
.img-4{
  position: absolute;
  width: 5vw;
  top: 1vw;
  right: 1vw;
  mix-blend-mode:luminosity;
  animation: rotate 2s linear infinite forwards;
}
.img-5{
  position: absolute;
  width: 4vw;
  top: 1vw;
  right: 1vw;
  mix-blend-mode:luminosity;
  animation: rotate2 5s linear infinite forwards;
}
.img-6{
  position: absolute;
  width: 4vw;
  top: 1vw;
  right: 1vw;
  mix-blend-mode:luminosity;
  animation: shake 1s linear infinite forwards;
}
.roadmap-wrap {
  height: 80vw;
  background: url(assets/images/roadmap-bg.png)no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 10vw;
  margin-top: 12vw;
  position: relative;
}
.phase-1{
  position: absolute;
  width: 55vw;
  top: -10vw;
  left: 31vw;
  /* animation: phase-1-animi 13s linear 1 forwards; */
}
@keyframes phase-1-animi {
  0%{
      top: 1vw;
      left: -6vw;
  }
  25%{
      top: 1vw;
      left: 8vw;
  }
  50%{
      top: -1vw;
      left: 11.4vw;
  }
  75%{
      top: -15vw;
      left:11.4vw ;
  }
  90%{
      top: -15vw;
      left: 31vw;
  }
}
.phase-2{
  position: absolute;
  width: 62vw;
  top: 21vw;
  left: 9vw;
}
.phase-3{
  position: absolute;
  width: 37vw;
  top: 48vw;
  left: 27vw;
}
/* ----------join-------
------- */
.join {
  margin: 5vw 15vw;
  padding: 14vw 10vw 7vw 10vw;
  background: url(assets/images/join-bg.png)no-repeat;
  background-position: center center;
  background-size: cover;
  box-shadow: 0 15px 12px #000;
  position: relative;
}
.bulb-3{
  position: absolute;
  width: 15vw;
  left: -13vw;
  bottom: -14vw;
  z-index: -1;
  mix-blend-mode: lighten;
}
.bulb-4{
  position: absolute;
  width: 25vw;
  right: -13vw;
  bottom: -30vw;
  z-index: -1;
  mix-blend-mode: lighten;
}
.join h2{
  color: #F100FF;
  font-family: Wonderbar;
  font-size: 3.125;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.join a img {
  width: 12vw;
  margin-left: 1.5vw;
  transition: all .3s;
}
.join a img:hover{
  filter: brightness(150%);
}
/* -------------footer----
-------- */
footer{
  padding: 7vw 5vw 1vw 5vw;
  background: url(assets/images/footer-bg.png)no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  margin-top: -14vw;
}
footer .menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0vw;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}
footer .menu .logo img {
  width: 8vw;
}
footer .menu ul{
  display: flex;
  align-items: center;
  gap: 2vw;
}
footer .menu ul li a{
  color: #FFF;
  font-family: Impact;
  font-size: 1.1vw;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 100% */
  transition: all .3s;
  text-decoration: none;
}
footer .menu ul li a:hover{
  text-decoration: underline;
}
footer .menu .social-icons{
  display: flex;
  align-items: center;
  gap: 1vw;
}
footer .menu .social-icons a img{
  width: 3vw;
  transition: all .3s;
}
footer .menu .social-icons a img:hover{
  filter: brightness(150%);
  transform: translateY(-10px);
}
.copyright{
  color: #FFF;
  text-align: center;
  font-family: Impact;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 393.75% */
  padding: 2vw 0 .5vw 0;
  opacity: 0.6;
}
.copyright a{
  color: rgba(255,255,255,1);
}
/* --------------------------------website Responsive--------------
-------------------- */

/* ----------------------------@ 1280px--------
------- */

@media (max-width: 1280px) {

  /* -------------------------navbar 1280px--------------------------
  ----------------------- */
  
  .header {
      padding: 1vw 3vw 0 3vw;
  }

  .header ,.navbar {
      border-radius: 2vw;
  }

  .header .navbar .left-side-menu a {
      font-size: 2.3vw;
  } 

  .header .navbar .left-side-menu a img {
      width: 20%;
  }


}

/* ----------------------------@ 980px--------
------- */

@media (max-width: 980px) {

.header .navbar {
  padding-top: 1vw;
  padding-bottom: 1vw;
}

.header .navbar .left-side-menu a img {
  width: 35%;
  height: auto;
  position: relative;
}

.header .navbar .left-side-menu a {
  font-size: 3vw;
  font-weight: 800;
  gap: 1vw;
}

.header .center-menu a li {
  font-size: 3vw;
  padding: 2vw;
  font-weight: 600;
}

.center-menu {
  display: flex;
  width: 94vw;
  height: 75vw;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2vw;
  padding-top: 5vw;
  /* display: none; */
  margin-top: -900px;
  transition: all 1s ease-in-out;
  position: absolute;
  top: 0vw;
  left: 0vw;
  background-color: #5AC7FF;
  z-index: -1;
  border-radius: 2vw;
  /* border-left: 2px solid rgba(255, 255, 20, 0.5);
  border-top: 2px solid rgba(255, 255, 20, 0.5); */
}

.center-menu.active {
  margin-top: 0;
  /* display: flex; */
  background-color: #5AC7FF;
}

.center-menu .left-menu {
  flex-direction: column;
  align-items: center;
  padding-top: 5vw;
  padding-bottom: 5vw;
  gap: 0;
}

.header .navbar .center-menu .right-side-menu {
  margin-left: 0%;
  margin-bottom: 1vw;
  gap: 2vw;
}

.header .navbar .center-menu .right-side-menu a img {
  width: 8vw;
}
.header .center-menu .right-side-menu a:nth-child(4) img {
  width: 15vw;
}
.navbar-toggle span {
  display: block;
  width: 5vw;
  height: 1vw;
  margin: 0.7vw;
  border-radius: 50px;
  transition: all 0.5s;
}

.navbar-toggle span:nth-child(2) {
  width: 3.5vw;
}

.navbar-toggle {
  display: block;
}

.navbar-toggle.active span:nth-child(1) {
  transition-delay: 0.1s;
  transform: rotate(45deg) translate(1.3vw, 1.3vw);
}

.navbar-toggle.active span:nth-child(2) {
  opacity: 0;
}

.navbar-toggle.active span:nth-child(3) {
  transition-delay: 0.1s;
  transform: rotate(-45deg) translate(0vw, 0vw);
  position: relative;
  top: -1.6vw;
}

}

/* ----------------------------@ 600px--------
------- */

@media (max-width: 600px) {

  h2 {
      font-size: 11vw;
  }

  .header .navbar {
      justify-content: flex-end;
      padding: 0vw 5vw;
      margin-top: 24px;
  }

  .header .navbar .left-side-menu {
      width: 105px;
      text-align: left;
      position: absolute;
      top: 6px;
      left: 15px;
  }

  .header .navbar .left-side-menu a img {
      width: 100%;
      height: auto;
      position: relative;
  }

  .header .navbar .left-side-menu a {
      font-size: 4vw;
  }
  
  .header .center-menu a li {
      font-size: 3.5vw;
      padding: 3.5vw;
  }

  .center-menu {
      border-radius: 2vw;
      width: 100vw;
      height: 91vw;
  }

  .navbar-toggle span {
      display: block;
      width: 7vw;
      height: 1vw;
      margin: 0.7vw;
      border-radius: 50px;
      transition: all 0.5s;
  }
  
  .navbar-toggle span:nth-child(2) {
      width: 5vw;
  }
  
  .navbar-toggle {
      display: block;
    }
    
    .navbar-toggle.active span:nth-child(1) {
      transform: rotate(45deg) translate(1.3vw, 1.3vw);
    }
    
    .navbar-toggle.active span:nth-child(2) {
      opacity: 0;
    }
    
    .navbar-toggle.active span:nth-child(3) {
      transform: rotate(-45deg) translate(-0.5vw, 0.5vw);
      position: relative;
      top: -2.5vw;
    }

    h1 {
      font-size: 15vw;
      line-height: 16vw;
      text-align: center;
      font-weight: 400;
    }

    h2 {
      text-align: center;
      color: #FFF;
      font-size: 9vw;
      font-style: normal;
      font-weight: 400;
      line-height: 9vw;
      text-transform: capitalize;
  }
  
  
  li {
      list-style: none;
      font-size: 1vw;
      line-height: 1.3vw;
      color: #FFFFFF;
  }
  
  p {
      color: #FFF;
      font-size: 3.3vw;
      font-style: normal;
      font-weight: 400;
      line-height: 4.5vw;
      text-align: center;
  }

  h3 {
      font-size: 3.5vw;
      text-align: center;
  }

  .btn {
      padding: 1.5vw 5vw;
      font-size: 3.5vw;
  }

  .btn1 {
      font-size: 3.5vw;
  }

  .btn1 img {
      width: 2.5vw;
  }


  
/* -----------------hero-section------------
---------- */

/* -----------------hero-section------------
---------- */
.hero-section {
  height: 63vw;
  background: url(assets/images/hero-bg.png)no-repeat;
  background-position: 0% 50%;
  background-size: cover;
  text-align: center;
  position: relative;
  margin-top: -85px;
  padding-top: 85px;
}
.hero-content{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  padding: 0vw 10vw 0vw 10vw;
  position: relative;
}
.book {
  position: absolute;
  width: 15vw;
  left: 0;
  top: 12vw;
}
.hero-content .left{
  width: 48%;
}
.hero-content .left img{
  width: 90%;
  margin-top: 12vw;
}
.hero-content .right{
  width: 48%;
}
.hero-content .right img{
  position: absolute;
  z-index: 2;
  bottom: -32vw;
  left: 2vw;
}
.hero-content .right .man {
 position: absolute;
 right: 0;
 bottom: -35vw;
}
.img-1{
  position: relative;
  z-index: 2;
  margin-top: -19vw;
}
@keyframes brightness {
  0%{
      filter: brightness(100%);
  }
  30%{
      filter: brightness(130%);
  }
  50%{
      filter:  brightness(150%);
  }
  75%{
      filter: brightness(170%);
  }
  100%{
      filter: brightness(200%);
  }
}
.bulb{
  position: absolute;
  width: 22vw;
  right: 0vw;
  bottom: -12vw;
  mix-blend-mode: lighten;
  animation: brightness 4s linear infinite alternate;
}
.bulb-2{
  position: absolute;
  width: 22vw;
  left: 3vw;
  bottom: -18vw;
  mix-blend-mode: lighten;
  animation: brightness 4s linear infinite alternate;
}
.ball {
  position: absolute;
  width: 2vw;
  left: 32vw;
  top: 0vw;
  mix-blend-mode: lighten;
  animation: floatBubble 12s infinite linear alternate;
}
@keyframes floatBubble {
  0% {
    left: 0;
    top: 0;
  }
  20% {
    left: 61vw;
    top: 14vw;
  }
  40% {
      left: 0vw;
      top: 0vw;
  }
  60%{
      top: -9vw;
      left: 40vw;
  }
  80%{
      top: 20vw;
      left: 100vw;
  }
  100%{
      top: 50vw;
      left:80vw ;
  }
}
.ball-2{
  position: absolute;
  width: 1vw;
  right: 10vw;
  bottom: 22vw;
  animation: floatBubble 10s infinite linear 2s alternate;
}
/* ----------------gems----------
-------- */
.gems{
  text-align: center;
  padding: 10vw 10vw;
  margin-top: 7vw;
  position: relative;
}
.gradient-bg .right div .progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 4vw;
  margin-bottom: 2vw;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  background: 
    radial-gradient(closest-side, #280A4B 79%, transparent 80% 100%),
    conic-gradient(#C82DF0 calc(var(--progress-value) * 1%), #373737 0);
  animation: progress 2s 1 forwards;
}

.gradient-bg .right div .progress-bar::before {
  counter-reset: percentage var(--progress-value);
  content: counter(percentage) '%';
  animation: progress 2s 1 forwards;
  color: #FFF;
  font-family: Impact;
  font-size: 4.6vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.bulb-5{
  position: absolute;
  left: 0;
  top: 15vw;
  width: 8vw;
  mix-blend-mode: lighten;
}
.gems .heading{
  width: 30vw;
  margin-bottom: 2.5vw;
}
.gradient-bg{
  background: linear-gradient(to right,#CE2FEA 50%, #6497FF 55%, #00FF9E 100%);
  padding: 8px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1vw;
}
.gradient-bg .left{
  width: 100%;
  overflow: hidden;
  border-radius: 12px 12px 0 0px;
}
.gradient-bg .right{
  width: 100%;
  overflow: hidden;
  background: #280A4B;
  border-radius: 0 0px 12px 12px;
  padding: 2vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5vw;
}
.gradient-bg .right div{
  width: 100%;
  padding: 3vw;
}
.gradient-bg .right div h4{
  color: #FFF;
  font-family: Impact;
  font-size: 8.25vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 1.3vw;
}
.gradient-bg .right div h5:nth-child(2){
  font-size: 5.562vw;
  margin-bottom: 3vw;
}
.gradient-bg .right div h5{
  color: #FFF;
  font-family: Impact;
  font-size: 5.625vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.gradient-bg .right div h5:nth-child(6){
  margin-bottom: 2.5vw;
}
.gradient-bg .right div a img{
  width: 22vw;
  margin-bottom: 2vw;
}
.gradient-bg .right div p{
  color: #A600D3;
  font-family: Impact;
  font-size: 4.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.gradient-bg .right div .br {
  width: 13vw;
}
/* -------------gem-2----------
----- */
.gems-2 {
  padding: 5vw 10vw 1vw 10vw;
  text-align: center;
  position: relative;
}
.cw{
  position: absolute;
  right: 10vw;
  top: 10vw;
}
.cw img{
  width: 22vw;
}
.glass{
  position: absolute;
  width: 7vw;
  right: 0;
  top: 5vw;
}
.paper {
  position: absolute;
  width: 7vw;
  left: 0;
  bottom: 20vw;
  mix-blend-mode: lighten;
}
.paper-2 {
  position: absolute;
  width: 5vw;
  right: 0;
  bottom: 2vw;
  mix-blend-mode: lighten;
}
.gems-2 .heading {
  width: 30vw;
  margin-bottom: 2.5vw;
}
.gems-2 .gradient-bg-2 .right{
  display: flex;
  flex-direction: column;
  padding: 0;
  background: transparent;
  overflow: hidden;
  gap: 0;
}
.gems-2 .gradient-bg-2 {
  margin-top: 4vw;
  padding: 8px;
  position: relative;
  gap: 0;
}
.gems-2 .gradient-bg-2 .left{
  background: #280A4B;
  margin: 0px;
  display: flex;
  align-items: center;
  padding: 0vw 0vw;
}
.gems-2 .gradient-bg-2 .left h5{
  color: #FFF;
  font-family: Impact;
  font-size: 3.625vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.gems-2 .gradient-bg-2 .right div{
  width: 100%;
  padding: 2vw;
}
.gems-2 .gradient-bg-2 .right .top{
  margin: 10px 10px 0px 0;
  background: #280A4B;
  width: 100%;
  border-radius:0;
}
.gems-2 .gradient-bg-2 .right .top .live{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 1.5vw;
}
.gems-2 .gradient-bg-2 .right .top .live div{
  display: flex;
  align-items: center;
  gap: 2vw;
  padding: 0;
  margin: 0;
}
.gems-2 .gradient-bg-2 .right .top .live div a img{
  width: 6vw;
  margin: 0;
}
.gems-2 .gradient-bg-2 .right .top .live img{
  width: 20%;
}
.gems-2 .gradient-bg-2 .right .top .amount{
  display: flex;
  align-items: center;
  gap: 1vw;
  margin-top: 5vw;
}
.gems-2 .gradient-bg-2 .right .top .amount h6{
  color: #00FF9E;
  font-family: Impact;
  font-size: 5.68vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.gradient-bg-2 .right .text-left{
  text-align: left;
}
.gems-2 .gradient-bg-2 .right .top .amount h6 span{
  display: block;
  width: 15vw;
  height: 15vw;
  display: flex;
  align-items: center;
  border-radius: 23px;
  border: 4px solid #F000FF;
  background: #FFF;
  color: #E0F;
  font-family: Impact;
  font-size: 5.36vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 5vw;
  text-align: left;
}
.gems-2 .gradient-bg-2 .right .top .amount img{
  width: 35%;
  margin-left: 1vw;
}
.gems-2 .gradient-bg-2 .right .top .amount a img{
  width: 21vw;
  margin: 0;
}
.gems-2 .gradient-bg-2 .right .bottom{
  margin: 10px 10px 0px 0;
  background: #280A4B;
  width: 100%;
  border-radius: 0 0px 12px 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gems-2 .gradient-bg-2 .right .bottom h6{
  color: #00FF9D;
  font-family: Impact;
  font-size: 5.2vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.gems-2 .gradient-bg-2 .right .bottom img{
  width: 60%;
}
.gems-2 .gradient-bg-2 .right div:nth-child(2){
  display: flex;
  align-items: center;
}
.gems-2 .gradient-bg-2 h5 span{
  float: right;
}
.gems-2 .gradient-bg-2 .right div p{
  font-size: 2.7vw;
  text-align: center;
}
/* ----------------drops---------
--------- */
.drops {
  padding: 18vw 10vw;
  text-align: center;
}
.drops .heading{
  width: 50vw;
}
.drops-wrap {
  margin-top: 4vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
}
.drops-wrap div{
  width: 48%;
  border-radius: 14px;
  border: 7px solid #00FF9D;
  background: #1B0732;
  padding: 1.5vw;
  text-align: left;
}
.drops-wrap div h3{
  color: #00FF9D;
  font-family: Impact;
  font-size: 5.06vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.33px;
}
.drops-wrap div p{
  color: #00FFA4;
  font-family: Impact;
  font-size: 2.5vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.18px;
  margin-bottom: 5vw;
}
.drops-wrap div h6{
  color: #FFF;
  font-family: Impact;
  font-size: 3.3vw;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.21px;
}
/* --------------roadmap--------
------- */
.roadmap{
  text-align: center;
  position:relative;
}
.roadmap .heading {
  width: 30vw;
  margin-bottom: 10vw;
  margin-top: 12vw;
}
.roadmap .phase{
  width: 45%;
  padding: 7px;
  border-radius: 25px;
  text-align: left;
}
.roadmap .phase ul {
  margin-left: 1.2vw;
}
.roadmap .phase li{
  color: #441E10;
  font-family: Impact;
  font-size: 3vw;
  list-style: disc;
  font-style: normal;
  font-weight: 400;
  line-height: 122%; /* 21.96px */
}
.roadmap .phase h4{
  color: rgba(0, 0, 0, 0.40);
  font-family: Impact;
  font-size: 4.812vw;
  font-style: normal;
  font-weight: 400;
  line-height: 134%; /* 38.86px */
  letter-spacing: 0.58px;
  margin-bottom: 1.5vw;
}
.roadmap .phase-1{
  background: linear-gradient(90deg, #F1D858 -89.4%, rgba(241, 216, 88, 0.73) -58.86%, rgba(241, 216, 88, 0.48) -26.8%, rgba(241, 216, 88, 0.27) 2.21%, rgba(241, 216, 88, 0.12) 28.17%, rgba(241, 216, 88, 0.03) 49.54%, rgba(241, 216, 88, 0.00) 63.29%);
  position: absolute;
  right: 5.5vw;
  top: 11.6vw;
  display: none;
}
@keyframes rotate {
  0%{
      transform: rotate(0);
  }
  100%{
      transform: rotate(360deg);
  }
}
@keyframes rotate2 {
  0%,100%{
      transform: rotate(0);
  }
  50%{
      transform: rotate(360deg);
  }
}
.img-4{
  position: absolute;
  width: 7vw;
  top: 1vw;
  right: 1vw;
  mix-blend-mode:luminosity;
  animation: rotate 2s linear infinite forwards;
}
.img-5{
  position: absolute;
  width: 7vw;
  top: 1vw;
  right: 1vw;
  mix-blend-mode:luminosity;
  animation: rotate2 5s linear infinite forwards;
}
@keyframes shake {
  0%,100%{
      transform: translateX(0px);
  }
  50%{
      transform: translateX(10px);
  }
}
.img-6{
  position: absolute;
  width: 6vw;
  top: 1vw;
  right: 1vw;
  mix-blend-mode:luminosity;
  animation: shake 1s linear infinite forwards;
}
.roadmap .inner-phase-1{
  background: #F1BA36;
  border-radius: 15px;
  padding: 4vw;
}
.roadmap .phase-2{
  display: none;
  background: linear-gradient(270deg, #7785F1 -52.51%, rgba(119, 133, 241, 0.73) -31.05%, rgba(119, 133, 241, 0.48) -8.53%, rgba(119, 133, 241, 0.27) 11.86%, rgba(119, 133, 241, 0.12) 30.09%, rgba(119, 133, 241, 0.03) 45.11%, rgba(119, 133, 241, 0.00) 54.77%);
  position: absolute;
  left: 2.5vw;
  top: 37vw;
  width: 36%;
}
.roadmap .inner-phase-2{
  background: #5BA3F1;
  border-radius: 15px;
  padding: 4vw;
}
.roadmap .phase-3{
  display: none;
  background: linear-gradient(180deg, #DC6CF1 -79.69%, rgba(220, 108, 241, 0.73) -52.3%, rgba(220, 108, 241, 0.48) -23.54%, rgba(220, 108, 241, 0.27) 2.48%, rgba(220, 108, 241, 0.12) 25.77%, rgba(220, 108, 241, 0.03) 44.94%, rgba(220, 108, 241, 0.00) 57.27%);
  position: absolute;
  left: 20.1vw;
  bottom: -26vw;
}
.roadmap .inner-phase-3{
  background: #9B4EF1;
  border-radius: 15px;
  padding: 4vw;
}
.roadmap-wrap {
  height: 218vw;
  background: url(assets/images/mobile-road.png)no-repeat;
  background-size: cover;
  background-position: center center;
  margin-bottom: 15vw;
}
/* ----------join-------
------- */
.join {
  margin: 5vw 15vw;
  padding: 14vw 10vw 7vw 10vw;
  background: url(assets/images/join-bg.png)no-repeat;
  background-position: center center;
  background-size: cover;
  box-shadow: 0 15px 12px #000;
  position: relative;
}
.bulb-3{
  position: absolute;
  width: 15vw;
  left: -13vw;
  bottom: -14vw;
  z-index: -1;
  mix-blend-mode: lighten;
}
.bulb-4{
  position: absolute;
  width: 25vw;
  right: -13vw;
  bottom: -30vw;
  z-index: -1;
  mix-blend-mode: lighten;
}
.join h2{
  color: #F100FF;
  font-family: Wonderbar;
  font-size: 7.125vw;
  font-style: normal;
  text-align: left;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.join a img {
  width: 15vw;
  margin-left: 1.5vw;
  transition: all .3s;
}
.join a img:hover{
  filter: brightness(150%);
}
/* -------------footer----
-------- */
footer{
  padding: 7vw 5vw 2vw 5vw;
  background: url(assets/images/footer-bg.png)no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  margin-top: -23vw;
}
footer .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4vw;
  justify-content: space-between;
  margin-top: 0vw;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}
footer .menu .logo img {
  width: 18vw;
}
footer .menu ul{
  display: flex;
  align-items: center;
  gap: 2vw;
}
footer .menu ul li a{
  color: #FFF;
  font-family: Impact;
  font-size: 3.1vw;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 100% */
  transition: all .3s;
  text-decoration: none;
}
footer .menu ul li a:hover{
  text-decoration: underline;
}
footer .menu .social-icons{
  display: flex;
  align-items: center;
  gap: 1vw;
  margin-bottom: 2vw;
}
footer .menu .social-icons a img{
  width: 5vw;
  transition: all .3s;
}
footer .menu .social-icons a img:hover{
  filter: brightness(150%);
  transform: translateY(-10px);
}
.copyright{
  color: #FFF;
  text-align: center;
  font-family: Impact;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 393.75% */
  padding: 2vw 0 .5vw 0;
  opacity: 0.6;
}
}